.about {
  max-width: 900px;
  display: flex;
  padding: 80px 50px;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .about {
    flex-direction: column;
  }
}

.about__avatar {
  width: 80%;
  height: auto;
}

.about__text-conteiner {
  padding: 15px;
  max-width: 600px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .about__text-conteiner {
    margin-left: 32px;
  }
}

@media screen and (max-width: 600px) {
  .about__text-conteiner {
    max-width: 100%;
    width: 100%;
    margin-left: 0;
  }
}

.about__title {
  font-family: "Roboto Slab", Arial, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
  margin: 0 0 0;
}

@media screen and (max-width: 600px) {
  .about__title {
    margin: 24px 0 0;
    font-size: 30px;
    line-height: 40px;
  }
}

.about__description {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  margin-top: 24px;
}
