.about {
  width: 60vw;
  display: flex;
  padding: 80px 50px;
  margin: 0 auto;
}

.about__avatar-conteiner {
  display: flex;
  margin: 0 auto;
  width: 18vw;
  height: 18vw;
}

.about__avatar {
  width: 18vw;
  height: 18vw;
  margin: 0 auto;
  object-fit: contain;
}

.about__text-conteiner {
  padding: 15px 0 15px 15px;
  width: 40vw;
  min-width: 10vw;
  height: 40vw;
  min-height: 10vw;
  margin: 0;
}

.about__title {
  font-family: "Roboto Slab", Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.6;
}

.about__description {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6;
  margin: 0;
  margin-top: 24px;
}

@media screen and (max-width: 900px) {
  .about {
    flex-direction: column;
  }

  .about__text-conteiner {
    max-width: 100%;
    width: 100%;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .about__avatar-conteiner {
    display: flex;
    margin: 0 auto;
    width: 30vw;
    min-width: 20vw;
    height: 30vw;
    min-height: 20vw;
  }

  .about__avatar {
    width: 30vw;
    min-width: 20vw;
    height: 30vw;
    min-height: 20vw;
  }

  .about__title {
    margin: 24px 0 0;
    font-size: 30px;
    line-height: 40px;
  }
}
