.images {
  display: grid;
  max-width: 1800px;
  margin: 50px auto;
}

.images__container {
  display: flex;
  flex-direction: column;
}

.images__cards-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.images__container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.images__card-image {
  width: 275px;
}

.image__container {
  position: relative;
  width: 275px;
  height: 275px;
}

/* .image__container img {
  position: absolute;
  left: 0;
  top: 0;
  width: 275px;
  height: 275px;
} */

.image {
  position: absolute;
  left: 0;
  top: 0;
  width: 275px;
  height: 275px;
}

/* .image__container img.image2 {
    opacity: 0;
} */

.image_blue {
  opacity: 0;
}

.image__container:hover .image_blue {
  opacity: 1;
}

/* .image__container:hover img.image1,
.image__container img.image1:hover {
  opacity: 0;
} */

.image__container:hover .image_main {
  opacity: 0;
}

.images__button {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  padding: 13px 11px 15px;
  display: none;
  visibility: hidden;
  position: absolute;
  border-radius: 5px;
  cursor: pointer;
  min-width: 50px;
  padding: 12px;
  background-color: #f5f5f5;
}

.image__container .images__button {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.image__container:hover .images__button {
  visibility: visible;
  display: flex;
}
